body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fade-enter {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.fade-exit-active {
  opacity: 0;
}

.product-card {
  background-image: linear-gradient(to bottom, #191f5a, #397c7b);
}

.product-card .product-buttons .add-button {
  background-image: linear-gradient(to bottom, #1829a9, #091993);
}

.product-card .product-buttons .remove-button {
  background-image: linear-gradient(to bottom, #f00, #800);
}
